* {
    margin: 0;
    padding: 0;

    background-color: #1c1e21;
    color: white;
}



figure, img, a, section, ul, li, input {
    background: none;
    border: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 56px;
    background-color: #24272a;
}

li {
    display: inline-block;
}

nav section {
    display: flex;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}




/*LEFT-NAV*/

.left-nav {
    width: 35%;
    background: none;
}

.left-nav > a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 15px;
}

.left-nav img[src="./media/header-nav/facebook-logo.png"] {
    width: 40px;
    background: none;
}

.left-nav section {
    margin: 8px;
    margin-left: 10px;
    background-color: #40444b;
    border-radius: 25px;
    overflow: hidden;
    width: 280px;
}

.left-nav img[src="./media/header-nav/search-ico.png"] {
    width: 18px;
    filter: invert(100%);
    margin: 10px;
}

.left-nav input {
    width: 250px;
}

.left-nav input:focus {
    outline: none;
}




/* MIDDLE-NAV */

.middle-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;

    width: 50%;
}

.middle-nav li {
    display: flex;
    justify-content: center;

    width: 8.8vw;
    height: 48px;
    border-radius: 8px;
    margin-right: 8px;
}

.middle-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
}

.middle-nav img {
    width: 25px;
    filter: invert(100%);
    background: none;
}

.middle-nav li:hover {
    background-color: #40444b;
}




/*RIGHT-NAV*/

.right-nav {
    width: 25%;
    background: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 20px;
}

.right-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 0 5px;

    background-color: #40444b;
    border-radius: 20px;
    border: none;
}

.right-nav li:hover {
    background-color: #5a5f67;
}

.right-nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.right-nav img {
    width: 25px;
    filter: invert(100%);
}

.right-nav img[src="./media/header-nav/perfil-ico.jpg"] {
    width: 40px;
    filter: none;
}

.right-nav li:nth-child(4):hover {
    filter: brightness(1.5);
}