* {
    margin: 0;
    padding: 0;

    background-color: #1c1e21;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

li {
    display: inline-block;
}

section {
    display: flex;
}

.left-nav {
    width: 30%;
}

.middle-nav {
    display: flex;
    justify-content: space-evenly;

    width: 50%;
}

.middle-nav li {
    display: flex;
    justify-content: center;

    margin: 5px;
    width: 6vw;
    border-radius: 5px;
}

.middle-nav img {
    width: 44px;
}

.right-nav {
    width: 20%;
}